<article>
    <section>
        <div class="opcion_cliente">
        <h1 style="color: white; text-align: center;">Panel de ususario</h1>
        <a routerLink='/tickets'><button type="button" class="btn btn-primary btn-block btn-large">Ver Reclamos</button></a>

        <a routerLink='/CrearReclamo'><button style="margin-top:30px;" type="button" class="btn btn-primary btn-block btn-large">Crear nuevo Reclamo</button></a>

        <button style="margin-top:70px; width:150px; margin-left:70px;" type="button" class="btn btn-primary btn-block btn-large sesion" (click)="logout()">Cerrar Sesion</button>
        </div>
    </section>

</article>