<article>
    <section>
        <div class="crear">
            <h3 style="color: White;">Crear nuevo reclamo</h3>

           
        <form>
            <!-- <textarea name="reclamo" rows="10" cols="40" [(ngModel)]="NuevoReclamo.detalle">Escribe aquí tu reclamo</textarea> -->
            <button type="submit" class="btn btn-primary btn-block btn-large" (click)='enviaReclamo()'>Enviar</button>
        </form>

            <a href="home.php"><button type="submit" class="btn btn-primary btn-block btn-large">Volver</button></a>

        </div>

    </section>

</article>