<article>
    <section class="login">
    <div>
        <h1>Ingresar usuario</h1>
        <form method="post">
            <input type="text" name="u" placeholder="Usuario" required="required">
            
            <button type="submit" class="btn btn-primary btn-block btn-large">Enviar</button>
        </form>              
    </div>
    <div style="margin-top:50px;">
    <a routerLink='/'><button type="submit" class="btn btn-primary btn-block btn-large">Volver</button></a>
    </div>
    </section>

</article>